#replicaApp p {
    font-family: MainFont;
    font-weight: bold;
    margin: 0;
}

#replicaApp *,
#replicaApp *::after,
#replicaApp *::before {
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

@keyframes firstLoading {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes firstLoadingBG {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes loadingScreenText {
    0% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blinkingOpacity {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes spinForwardTo360 {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spinForwardTo180 {
    100% {
        transform: rotate(180deg);
    }
}

@keyframes playerLocationMarker {
    0% {
        top: -1.8rem;
    }
    50% {
        top: -1.5rem;
    }
    100% {
        top: -1.8rem;
    }
}

@keyframes spinLeft {
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes battleTargetHand {
    0% {
        margin-left: 0;
    }
    50% {
        margin-left: -1rem;
    }
    100% {
        margin-left: 0;
    }
}
