body {
    margin: 0;
    background-color: #101010;
}

#startMenuContainer p {
    font-weight: normal;
    line-height: 20px;
    margin-bottom: 10px;
}

#startMenuContainer * {
    font-family: Arial, sans-serif;
    user-select: text;
    -webkit-user-select: text;
    -webkit-user-drag: auto;
}

p {
    font-family: MainFont;
    font-weight: bold;
    margin: 0;
}

*,
*::after,
*::before {
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

@keyframes firstLoading {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes firstLoadingBG {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes blinkingOpacity {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes spinForwardTo360 {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spinForwardTo180 {
    100% {
        transform: rotate(180deg);
    }
}

@keyframes playerLocationMarker {
    0% {
        top: -1.8rem;
    }
    50% {
        top: -1.5rem;
    }
    100% {
        top: -1.8rem;
    }
}
